p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 150px;
    line-height: 200px;
    text-shadow: 10px 2px red;
}